<!-- One main thing of template driven approach we are able to do change values in template only -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- ngSubmit is a angular built in directive for form handling get submitted when default behaviour is triggered on clicking the form -->
      <form (ngSubmit) = "onSubmit()" #f="ngForm">
        <!-- Angular not automatically detects input control so we need to use ngModel , controls input-->
        <!-- ngModel on input gives additional built-in features to forms like checking for validation , touch and many more -->
        <!-- we need form object ngForm is used value passed to function will be a type of NgForm need to import from angular core -->
        <!-- Many inbuilt forms property can be used like dirty , valid -->

        <!-- grouping the formdata this group the username and email in the value object -->
        <div id="user-data" ngModelGroup="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" 
            id="username" 
            class="form-control"
            ngModel
            required
            name="username">      
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            <span *ngIf="!email.valid && email.touched" [ngStyle]="{'color':'red'}">Please enter valid email</span>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <!-- i can bind directly with 2 way data binding -->
          <!-- I can use 2 way data binding also here like in component section -->
          <select id="secret" class="form-control" [ngModel]="secret" name="secret" required>
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" ngModel [value]="gender">
            {{gender}}
          </label>
        </div>
        <!-- Taking the advantages of formsObject to disable -->
        <!-- <button class="btn btn-primary" type="submit" [disabled]="!formData.valid">Submit</button> -->
        <button class="btn btn-primary" type="submit">Submit</button>
        
      </form>
    </div>
  </div>
</div>
